.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > pre.CodeMirror-line,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-link,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-hmd-internal-link,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-url,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-hmd-escape-backslash,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-inline-code,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > pre.CodeMirror-line.HyperMD-codeblock,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-hashtag,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-builtin,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-hr,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-footref,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    pre.HyperMD-footnote
    span.cm-hmd-footnote,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-formatting-highlight,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-highlight,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-formatting-list,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-formatting-task,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-quote,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.cm-math,
.focus_mode
    .cm-s-obsidian
    div:not(.CodeMirror-activeline)
    > .CodeMirror-line
    span.hmd-fold-math-placeholder {
    opacity: 0.5;
    filter: saturate(0.5);
}

.app-container.focus_mode {
    visibility: hidden;
}

.view-content,
.side-dock-ribbon-action[aria-label='Toggle Focus Mode'] {
    visibility: visible;
}
