.focus-mode .cm-s-obsidian div:not(.CodeMirror-activeline) > .CodeMirror-line {
    opacity: 0.75;
    filter: saturate(0.75);
}

.focus-mode .cm-s-obsidian div.CodeMirror-activeline::after {
    --padding-lr: 20px;
    --padding-tb: 5px;
    content: '';
    position: absolute;
    top: calc(-1 * var(--padding-tb));
    left: calc(-1 * var(--padding-lr) - 1px);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 8px var(--shade-30);
    padding: var(--padding-tb) var(--padding-lr);
  }

.focus-mode div.status-bar,
.focus-mode div.workspace-ribbon {
    visibility: hidden;
}

.focus-mode div.view-header,
.focus-mode .workspace-split.maximised .workspace-leaf:not(.mod-active),
.focus-mode
    .workspace-split.maximised
    .workspace-leaf.mod-active
    ~ .workspace-split {
    display: none;
}

.focus-mode .workspace-split.maximised .workspace-leaf.mod-active {
    /* 4px is for scrollbar width: */
    flex-basis: calc(100% - 4px);
}

.focus-mode
    .side-dock-ribbon-action[aria-label="Toggle Focus Mode (Shift + Click to show active pane only)"] {
    /* display: block; */
    visibility: visible;
}
